@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;0,700;1,500;1,700&family=Rubik:ital,wght@0,300;0,400;1,300;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F9F6F4;
  color: #1B344A;
  text-decoration: none;
}

h1 {
  font-family: 'Lora';
  font-weight: 500;
  font-size: 42px;
  color: #1B344A;
}

h2 {
  font-family: 'Lora';
  font-weight: 500;
  font-size: 16px;
}

h3 {
  font-family: 'Lora';
  font-weight: 500;
  font-size: 35px;
}

p {
  font-family: 'Rubik';
  font-weight: 300;
  font-size: 16px;
  text-transform: none;
  text-align: left;
  letter-spacing: 0.1em;
  line-height: 20px;
}

header {
  width: 1400px;
  padding: 15px 0 0 160px;
  background-color: transparent;
  position: absolute;
  z-index: 99;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 13px;
  color: #1B344A;
  text-transform: uppercase;
  background-color: transparent;
}

nav li {
  display: inline-block;
  padding: 0px 20px;
  color: #1B344A;
}

nav li.selected {
  color: #D48D72;
}

nav a:hover,
nav a:visited:hover,
nav a:active,
nav a:visited:active {
  color: #D48D72;
  transition: 0.3s ease-out;
}

/*Contacts*/
#bg {
  position: absolute;
  width: 100%;
  height: 100%;
}

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: -100px 0 0 0;
  min-width: 50%;
  min-height: 50%;
}

.client-application {
  display: flex;
  width: 100%;
  background-color: #F9F6F4;
}

.client-application h3 {
  position: absolute;
  top: 800px;
  left: 170px;
  background-color: transparent;
}

.client-application h2,
.client-application p {
  text-align: left;
  color: #1B344A;
}

.row-application {
  display: flex;
  justify-content: space-between;
  margin: 900px 0 100px 170px;
  width: 1200px;
}

.left-col-call {
  width: 340px;
}

.center-col-discovery {
  width: 340px;
  margin-right: 30px;
}

.right-col-proposal {
  width: 340px;
}

/*Form*/
.contacts {
  background-color: #F9F6F4;
  border: 1px solid #1B344A;
  width: 60%;
  padding: 50px;
  margin: 0 0 100px 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-row-container h3 {
  padding: 50px;
}

.field {
  align-items: flex-start;
  margin-bottom: 20px;
}

.field label {
  display: block;
  font-size: 16px;
  color: #1B344A;
}

.field input {
  display: block;
  min-width: 250px;
  line-height: 1.5;
  font-size: 13px;
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  width: 400px;
  height: 35px;
}

.field textarea {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  padding: 7px;
  font-size: 13px;
  width: 400px;
}

.form-row button {
  font-size: 16px;
  color: #1B344A;
  background-color: #F9F6F4;
  border: 1px solid #1B344A;
  border-radius: 3px;
  padding: 10px 40px;
  cursor: pointer;
}

.form-row button:hover {
  color: #F9F6F4;
  background-color: #1B344A;
}

.form-row button:hover a {
  color: #F9F6F4;
  background-color: transparent;
}

.form-row button:active {
  color: #F9F6F4;
  background-color: #1B344A;
}

/*Footer*/
.footer-container {
  display: flex;
  width: 100%;
  height: 250px;
  background-color: #1B344A;
  padding-top: 10px;
}

.footer-container p,
.footer-container h2 {
  text-align: left;
  color: #F9F6F4;
  background-color: #1B344A;
}

.row-footer {
  display: flex;
  justify-content: space-around;
  background-color: #1B344A;
  margin: 50px 0 0 180px;
  width: 1200px;
}

.left-col-footer img {
  width: 100px;
  background-color: #1B344A;
}

.center-col-footer {
  background-color: #1B344A;
  padding: 20px 0 0 200px;
  width: 340px;
}

.center-col-footer p:hover {
  background: #1B344A;
  color: #D48D72;
}

.right-col-footer {
  background-color: #1B344A;
  width: 340px;
  padding: 20px 0 0 100px;
}

.fa {
  font-size: 30px;
  width: 50px;
  text-align: left;
  text-decoration: none;
}

.fa-linkedin,
.fa-instagram,
.fa-facebook,
.fa-github {
  background: #1B344A;
  color: #F9F6F4;
}

.fa-linkedin:hover,
.fa-instagram:hover,
.fa-facebook:hover,
.fa-github:hover {
  background: #1B344A;
  color: #D48D72;
}

.copyright-container {
  width: 100%;
  height: 40px;
  background-color: #1B344A;
  padding-top: 10px;
}

.copyright-container p {
  text-align: center;
  display: flex;
  justify-content: center;
  color: #F9F6F4;
  background-color: #1B344A;
  font-size: 11px;
}
